# Specific files
/jrapidoc-gui/src/main/resources/jrapidoc.rest.model.json

# IDE and other editor files
*~
*.iml
.idea
.project
.settings/
.classpath

# build directories
target/
/jrapidoc-gui/output/

# Package Files 
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

###
